figure.highlight {
	padding: 9px 14px;
	margin-bottom: 0;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}
figure.white {
	pre{
		margin-bottom: 0;
	}
	text-align: left;
	padding: 9px 14px;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}